@charset "UTF-8";

body {
    background-image: linear-gradient(to top,#000814,#001D3D,#003566 100%);
    height: 100vh;
}

main {
    background-image: linear-gradient(to right, #FFC300,#FFD60A);
    box-shadow:0px 0px 15px white;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    width:750px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color:black;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color:black;
    text-align: center;
}

p {
    text-align: justify;
}

.lista {
    text-align: center;
    list-style: none;
    display: flex;
    width: 87%;
    justify-content: space-around;
}

.lista a {
    text-decoration: none;
    color: black;
}

li {
    transition: transform .3s;
}

li:hover{
    transform: scale(1.3);
}